@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --base-100: oklch(97.788% 0.004 56.375);
  --base-200: oklch(93.982% 0.007 61.449);
  --base-300: oklch(91.586% 0.006 53.44);
  --base-400: oklch(80.586% 0.004 49.44);
  --base-content: oklch(23.574% 0.066 313.189);
  --primary: oklch(85% 0.138 181.071);
  --primary-content: oklch(43% 0.078 188.216);
  --secondary: oklch(89% 0.061 343.231);
  --secondary-content: oklch(45% 0.187 3.815);
  --accent: oklch(90% 0.076 70.697);
  --accent-content: oklch(47% 0.157 37.304);
  --neutral: oklch(27% 0.006 286.033);
  --neutral-content: oklch(92% 0.004 286.32);
  --info: oklch(68% 0.169 237.323);
  --info-content: oklch(29% 0.066 243.157);
  --success: oklch(69% 0.17 162.48);
  --success-content: oklch(26% 0.051 172.552);
  --warning: oklch(79% 0.184 86.047);
  --warning-content: oklch(28% 0.066 53.813);
  --error: oklch(64% 0.246 16.439);
  --error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


.dark {
  --base-100: oklch(22% 0.019 237.69);
  --base-200: oklch(20% 0.019 237.69);
  --base-300: oklch(18% 0.019 237.69);
  --base-400: oklch(16% 0.019 237.69);
  --base-content: oklch(77.383% 0.043 245.096);
  --primary: oklch(74.703% 0.158 39.947);
  --primary-content: oklch(14.94% 0.031 39.947);
  --secondary: oklch(72.537% 0.177 2.72);
  --secondary-content: oklch(14.507% 0.035 2.72);
  --accent: oklch(71.294% 0.166 299.844);
  --accent-content: oklch(14.258% 0.033 299.844);
  --neutral: oklch(26% 0.019 237.69);
  --neutral-content: oklch(70% 0.019 237.69);
  --info: oklch(85.559% 0.085 206.015);
  --info-content: oklch(17.111% 0.017 206.015);
  --success: oklch(85.56% 0.085 144.778);
  --success-content: oklch(17.112% 0.017 144.778);
  --warning: oklch(85.569% 0.084 74.427);
  --warning-content: oklch(17.113% 0.016 74.427);
  --error: oklch(85.511% 0.078 16.886);
  --error-content: oklch(17.102% 0.015 16.886);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
